# Ignore BSP data folders
BSPData/

# Ignore generated trip PDFs
TripPdfs/

#Igqnore virtual environment folder
venv/

# Ignore cache files
__pycache__/
cache/
temp/
debug/
.emoji_cache/
.map_marker_cache/

